<div class="head-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8">
        <h1>{{person.name}} {{person.surname}}</h1>
        <img src="{{person.picture}}"  alt="">
      </div>
    </div>
  </div>
</div>

<div class="container content">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-8">
      <h4>Fecha de Nacimiento</h4>
      <p>{{person.date}}</p>

      <h4>Profesion</h4>
      <p>{{person.profession}}</p>

      <h4>Bio</h4>
      <p>{{person.biography}}</p>

    </div>
  </div>
</div>
