<div class="login-box">
  <div class="form-signin">
      <form [formGroup]="sForm" (ngSubmit)="saveData()">
          <img class="mb-4" src="assets/images/thepeople.svg" alt="">

          <div class="form-floating">
              <input type="text" class="form-control"  [ngClass]="{'is-invalid': isValid && f.name.errors}" formControlName="name"  id="floatingName" placeholder="Nombre de usuario">
              <label for="floatingInput">Nombre</label>
              <div class="invalid-feedback">
                Nombre no valido
              </div>
          </div>
          <div class="form-floating mt-2">
              <input type="email" class="form-control"  [ngClass]="{'is-invalid': isValid && f.email.errors}" formControlName="email" id="floatingEmail" placeholder="Correo electrónico">
              <label for="floatingInput">Email</label>
              <div class="invalid-feedback">
                Email no valido
              </div>
          </div>
          <div class="form-floating mt-2">
              <input type="password" class="form-control" formControlName="password"
              [ngClass]="{'is-invalid': isValid && f.password.errors}" id="floatingPassword" placeholder="Contraseña">
              <label for="floatingPassword">Contraseña</label>
              <div class="invalid-feedback">
                Mínimo ocho caracteres, al menos una letra y un número
              </div>
          </div>
          <a class="mt-2" href="">¿Has olvidado la contraseña?</a>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarme</button>
      </form>
      <button (click)="login()" class="w-100 btn btn-lg btn-link mt-3" type="submit">Ya tengo cuenta</button>
  </div>
</div>
