<div class="container">
  <div class="row head-box">
    <div class="col box-Search">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Buscar por Nombre o apellido</mat-label>
        <input matInput placeholder="Nombre o apellido" (input)="onSearchChange($event)" [value]="nameSearch">
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <button (click)="addPerson()" type="button" class="btn btn-success">Añadir</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Profesion</th>
        <th scope="col" class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of persons">
        <td> <img src="{{item.picture}}" width="100" height="100" class="avatar img-circle" alt="avatar"></td>
        <td>{{item.name}} {{item.surname}}</td>
        <td>{{item.profession}}</td>
        <td class="action-buttons text-end">
          <button (click)="editPerson(item._id)" type="button" class="btn btn-warning text-white">Editar</button>
          <button (click)="deletePerson(item._id)" type="button" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
